<html>
<head>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">

    {% block head %}
        <title>Hey, I'm Dan.</title>
    {% endblock head %}
</head>
<body>

{% block nav %}
    <div class="left">
        <h1>Hey, I'm Dan</h1>
        <p>Get at me!</p>
        <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Github</li>
        </ul>
    </div>
{% endblock nav %}

{% block content %}
{% endblock content %}

</body>
</html>