{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">

    <title>{{ post.metadata.title }}</title>
{% endblock head %}

{% block content %}
    <div class="right">
        <div id="header">
            <h3><a href="/"><i class="fa fa-arrow-circle-o-left"></i> Back to home</a></h3>
            <h1> {{ post.metadata.title }}</h1>
            {% if post.metadata.subtitle %}
                <h2>{{ post.metadata.subtitle }}</h2>
            {% endif %}
            <h3 id="date">{{ post.metadata.date|format_date }}</h3>
        </div>

        <div id="content">
            {{ post.html|safe }}
        </div>
</div>
{% endblock content %}